.container {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0ef;

    font-family: "Dela Gothic One", sans-serif;
}

.bgElements {
    opacity: 0.5;

    position: fixed;
    width: 100%;
    height: 100%;
}

.bgElements > .triggered-bg {
    animation: triggered-bg 20s forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

@keyframes triggered-bg {
    0% {
        background-color: transparent;
    }
    5%{
        background-color: #000;
    }
    100% {
        background-color: transparent;
    }
}

.borderElements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 28px * 2);
    height: calc(100% - 28px * 2);
}

.borderElements> *{
    background-color: var(--maincolor);
}

.borderElements > .borderTop {
    position: absolute;
    top: 0;
    left: 34%;

    width: 16%;
    height: 1px;
}

.borderElements > .borderLeft {
    position: absolute;
    top: 64%;
    left: 0;

    width: 1px;
    height: 24%;
}

.borderElements > .borderRight {
    position: absolute;
    top: 20%;
    right: 0;

    width: var(--border-width);
    height: 38%;
}

.borderElements > .borderMottom {
    position: absolute;
    bottom: 0;
    right: 128px;

    width: 60%;
    height: 1px;
}

.squareLinear {
    width: 92px;
    aspect-ratio: 1;

    background: repeating-linear-gradient(124deg,
        var(--maincolor),
        var(--maincolor) 3px,
        transparent 3px,
        transparent 6px
      );
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.triangles {
    position: absolute;

    bottom: 28px;
    left: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.triangleItem {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 32px solid var(--maincolor);
    rotate: -90deg;

    animation: triangle-animation 10s infinite;
}

.triangleItem:nth-child(4) { animation-delay: 100ms; }
.triangleItem:nth-child(3) { animation-delay: 200ms; }
.triangleItem:nth-child(2) { animation-delay: 300ms; }
.triangleItem:nth-child(1) { animation-delay: 400ms; }

@keyframes triangle-animation {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0.6);
    }
    5% {
        opacity: 1;
        transform: rotate(-720deg) scale(1);
    }
    75% {
        opacity: 1;
        transform: rotate(-720deg) scale(1);
    }
    80% {
        opacity: 0;
        transform: rotate(0deg) scale(0.6);
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) scale(0.6);
    }
}


.chevrons {
    position: absolute;

    top: 28px;
    right: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@keyframes chevron-animation {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    75% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        opacity: 0;
        transform: translateX(400px);
    }
    100% {
        opacity: 0;
        transform: translateX(400px);
    }
}

.chevronItem {
    position: relative;
    width: 24px;
    height: 22px;

    animation: chevron-animation 6s infinite;
}

.chevronItem:nth-child(11) { animation-delay: 50ms; }
.chevronItem:nth-child(10) { animation-delay: 100ms; }
.chevronItem:nth-child(9) { animation-delay: 150ms; }
.chevronItem:nth-child(8) { animation-delay: 200ms; }
.chevronItem:nth-child(7) { animation-delay: 250ms; }
.chevronItem:nth-child(6) { animation-delay: 300ms; }
.chevronItem:nth-child(5) { animation-delay: 350ms; }
.chevronItem:nth-child(4) { animation-delay: 400ms; }
.chevronItem:nth-child(3) { animation-delay: 450ms; }
.chevronItem:nth-child(2) { animation-delay: 500ms; }
.chevronItem:nth-child(1) { animation-delay: 550ms; }

.chevronItem:before,
.chevronItem:after {
    content: '';
    position: absolute;
    left: 0;
    height: 50%;
    width: 50%;
    border-left: 2px solid var(--maincolor);
    border-right: 2px solid var(--maincolor);
}
.chevronItem:before {
    top: 0;
    border-top: 2px solid var(--maincolor);
    border-bottom: 0;
    -webkit-transform: skew(50deg, 0deg);
    -moz-transform: skew(50deg, 0deg);
    -ms-transform: skew(50deg, 0deg);
    -o-transform: skew(50deg, 0deg);
    transform: skew(50deg, 0deg);
}

.chevronItem:after {
    top: 51%;
    border-top: 0;
    border-bottom: 2px solid var(--maincolor);
    -webkit-transform: skew(-50deg, 0deg);
    -moz-transform: skew(-50deg, 0deg);
    -ms-transform: skew(-50deg, 0deg);
    -o-transform: skew(-50deg, 0deg);
    transform: skew(-50deg, 0deg);
}

.barcode {
    position: absolute;
    top: 24px;
    left: 28px;

    width: 20%;
    max-width: 256px;
    height: 42px;

    background: url('/live/barcode.png') no-repeat center center;
    background-size: cover;
}

.opacity-05 {
    opacity: 0.5;
}



@media screen and (max-width: 623px) {
    .chevrons {
        display: none;
    }
}