div.container {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.title {
    position: relative;
    padding: 18px;


    text-align: center;
    font-size: 2rem;
    color: white;
    
    margin: auto;

    animation: fadeMask 1.6s forwards;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 0% 0%;
  }


@keyframes fadeMask {
    0% {
      opacity: 0;
      -webkit-mask-size: 0% 100%;
    }
    100% {
      opacity: 1;
      -webkit-mask-size: 200% 200%;
    }
  }